torch 
nltk 
transformers 
datasets 
sentencepiece
tensorboard 
scikit-learn 
psutil 
sacrebleu 
rouge-score 
matplotlib 
git-python 
faiss-cpu 
streamlit 
elasticsearch 
pandas   
pytest 
conllu  
protobuf